<div class="container m-3 mx-5">
  <h1 class="mb-3 mt-3">Список сотрудников:</h1>

  <table class="table" *ngIf="employees">
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>
          <div class="fs-5 p-2 card">
            <p class=" mx-3 mt-2 mb-1"><strong>ID сотрудника: </strong><mark>{{ employee.id}}</mark></p>
          <div class="d-flex fill flex-row justify-content-start align-items-center m-1  p-2">
            <img class="img img-ico" src="/assets/img/user.png" alt="image" >
            <p class="my-3 mx-3"><strong>Фио:</strong> {{ employee.name}}</p>
            <p class="my-3 mx-3"><strong>Отдел:</strong> {{ employee.department }}</p>
            <p class="my-3 mx-3"><strong>Зарплата:</strong> {{ employee.salary }}.00</p>
            <p class="my-3 mx-3"><strong>Дата найма:</strong> {{ employee.dateOfEmployment}}</p>
            <div class="btn-group ms-auto">
              <button type="button" class="btn btn-primary">Изменить</button>
              <button type="button" class="btn btn-danger">Удалить</button>
            </div>
          </div>
          </div>
         </td>
      </tr>
    </tbody>
  </table>
    <p class="lead" *ngIf="employees.length <= 0">Нет доступных сотрудников в списке!</p>
    <div class="mb-3 mt-3">
      <button type="button" class="btn btn-primary mb-3">Добавить нового сотрудника</button>
      <p class="lead">Дополнительные скрипты:</p>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Выберите запрос
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop">
          <li><a class="dropdown-item" href="#">Показать сотрудников с ЗП 10K</a></li>
          <li><a class="dropdown-item" href="#">Удаление всех сотрудников старше 70 лет</a></li>
          <li><a class="dropdown-item" href="#">Установить минимальное ЗП 15K всем сотрудникам</a></li>
        </ul>
    </div>
</div>
