<section class="bg-light pt-5 pb-5">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-lg-6 p-5">
                <h1 class="display-5 fw-bold">Добро пожаловать на нашу главную страницу!</h1>
                <p class="mt-4 text-muted">Это небольшое демонстрационное Web-приложение для управления списком сотрудников. 
                    Реализованное на Angular 16 и Net Core 3.1 WebApi. Оно демонстрирует базовый функционал подобных приложений!
                </p>
            </div>

            <div class="col-lg-5 offset-md-1 align-content-end">
                <div class="d-flex align-items-center d-none d-md-block pb-sm-3 pb-md-3">
                    <h3 class="pb-3">Опробывать приложение<br/> можно по ссылке снизу! </h3>
                    <button routerLink="employees" class="btn btn-primary p-3 px-5">Опробывать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="background-line"></div>
</section>

<footer class="bg-soft-white-70 align-self-center p-5">
    <div>
        <p class=" fs-6 lead m-1 mx-5">Сайт по тестовому заданию <a href="#">by Neykem</a> @2023</p>
    </div>
</footer>